<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h1 v-if="step == 1">Please fill out the form</h1>
                <h1 v-else>All done!</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div v-if="step == 1" class="col-4">
                <form @submit.prevent="onSubmit">
                    <div>
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" v-model="email">
                    </div>
                    <div>
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" v-model="firstName">
                    </div>
                    <div>
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" v-model="lastName">
                    </div>
                    <div>
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="phone" v-model="phone">
                    </div>
                    <div class="my-3">
                        <label for="guests" class="form-label">Guests</label>
                        <button type="button" @click="addGuest" class="btn btn-primary" id="guests">+</button>
                    </div>
                    <div v-for="(guest, i) in guests" class="my-3">
                        <label v-bind:for="'guest-' + i" @dblclick="onDoubleClick(i)" class="form-label">Guest {{ i + 1
                            }}</label>
                        <input type="text" class="form-control" v-bind:id="'guest-' + i" v-model="guest.name" />
                    </div>
                    <button type="submit" class="btn btn-primary">Send Data</button>
                </form>
            </div>
            <div v-else class="col-4">
                <table class="table table-bordered">
                    <tr>
                        <td>Email</td>
                        <td>{{ email }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ firstName + " " + lastName }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ phone }}</td>
                    </tr>
                    <tr>
                        <td>Guests</td>
                        <td>
                            <table class="table table-bordered">
                                <tr v-for="guest in guests">
                                    <td>{{ guest.name }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        let v = new Vue({
            el: '.container',
            data: {
                step: 1,
                email: '',
                firstName: '',
                lastName: '',
                phone: '',
                guests: []
            },
            methods: {
                addGuest() {
                    this.guests.push({ name: "" })
                },
                onSubmit() {
                    this.step = 2
                },
                onDoubleClick(id) {
                    this.guests.splice(id, 1)
                }
            }
        });

    </script>
</body>

</html>