<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div class="container">
        <div v-if="step == 1" class="row justify-content-left">
            <div class="col-6 mt-3">
                <form @submit.prevent="onSubmit">
                    <div class="form-group">
                        <textarea class="form-control" id="tarea" rows="10" @scroll="onScroll">{{ text }}</textarea>
                    </div>
                    <div v-if="showChecks">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="chk_i_agree"
                                v-model="chkAgreeChecked">
                            <label class="form-check-label" for="chk_i_agree">
                                I agree
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="chk_send_spam"
                                v-model="chkSpamChecked">
                            <label class="form-check-label" for="chk_send_spam">
                                Send me spam
                            </label>
                        </div>
                        <div v-if="chkSpamChecked">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="send_to" id="rad_email" value="email"
                                    v-model="send_to" checked>
                                <label class="form-check-label" for="rad_email">
                                    Email
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="send_to" id="rad_phone" value="phone"
                                    v-model="send_to">
                                <label class="form-check-label" for="rad_phone">
                                    Phone
                                </label>
                            </div>
                        </div>
                        <div v-if="chkAgreeChecked" class="mt-3">
                            <button type="submit" class="btn btn-primary">Send Data</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div v-else class="row justify-content-left mt-3">
            <div class="col-6">
                <table class="table table-bordered">
                    <tr>
                        <td>Agreed to text?</td>
                        <td>{{ chkAgreeChecked ? "Yes" : "No" }}</td>
                    </tr>
                    <tr>
                        <td>Send spam</td>
                        <td>{{ chkSpamChecked ? "Yes" : "No" }}</td>
                    </tr>
                    <tr v-if="chkSpamChecked">
                        <td>Send to</td>
                        <td>{{ send_to }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        let v = new Vue({
            el: '.container',
            data: {
                step: 1,
                showChecks: false,
                showRadios: false,
                showButton: false,
                chkAgreeChecked: false,
                chkSpamChecked: false,
                send_to: "email"
            },
            methods: {
                onSubmit() {
                    this.step = 2
                },
                onScroll(e) {
                    let textarea = e.target;

                    let offset = textarea.clientHeight;

                    if ((textarea.scrollTop + offset + 5) >= textarea.scrollHeight) {
                        this.showChecks = true
                    }
                }
            },
            computed: {
                text() {
                    const sentence = "The text no one reads.";
                    const sentences_in_line = 3;
                    const lines = 10;
                    let result = "";

                    for (var i = 0; i < lines; i++) {
                        for (var j = 0; j < sentences_in_line; j++) {
                            result += sentence
                        }
                        result += "\n"
                    }
                    return result
                }
            }
        });

    </script>
</body>

</html>